:root[data-theme="dark"] {
  --background-color: #242424;
  --color: #ffffff;
  --accent-color: #3b38ffc7;
  --disabled-color: #3f3f3f;
}

:root[data-theme="light"] {
  --background-color: #ffffff;
  --color: #213547;
  --accent-color: #353fffbe;
  --disabled-color: #e2e2e2;
}
