:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  height: 100vh;
  width: 100vw;

  display: flex;

  overflow: hidden;

  > #app {
    width: 100%;
    height: 100%;

    display: flex;
    place-content: center;

    overflow-x: hidden;
  }
}

/* RESETS */

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}
